@model IEnumerable<_1911062202_NGOTUANKIET_BigShool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Datetime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>